img {
    width: 30%;
    height: 30%;
}

a{
    text-decoration: underline;
    color: blue;
}

.invit{
    text-decoration: underline;
    color: black;
}

.logbtn{
    color: white!important;
}

.btn:checked, .btn:active{
    background-color: #d30404;
}